@media (max-width: 428px) {
    .customHiddenAt428 {
      display: none;
    }
    .headingAt428 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    .flexAt248 {
      flex-direction: column;
    }
    .displayAt428 {
      display: none;
    }
    .MainCart428 {
      margin-left: 0px;
      margin-right: 0px;
    }
    .welComeAt428 {
      width: 100%;
    }
    .marginAt428 {
      margin-left: 80px;
    }
    .fontAt428 {
      font-size: 36px;
    }
    .alignAt428{
      align-items: center;
    }
    .gridAt428 {
      padding-left: 20px;
      padding-right: 20px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .blockAt428 {
      display: block;
    }
    .hiddenAt428 {
      display: none;
    }
    .paddingAt428 {
      padding: 10px;
    }
    .textAt428 {
      text-align: center;
    }
    .scaledElement {
      transform: scale(1.5);
    }
}